@charset "utf-8";
.header-inner {
  width: 100%;
}
/* 헤더 위 */
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 43px;
  padding: 0 80px;
  background-color: #fff;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.1);
}
.family-site {
  display: flex;
  /* gap: 2%; */
  justify-content: space-between;
  width: 30%;
  color: #767676;
}
.family-site span {
  position: relative;
  font-size: 14px;
}
.family-site span::after {
  content: "";
  position: absolute;
  top: 6px;
  right: -35px;
  width: 1px;
  height: 12px;
  background-color: #dbdbdb;
}
.family-site span:last-child::after {
  display: none;
}
.headerTop-icons {
  display: flex;
  justify-content: flex-end;
  gap: 3%;
  width: 20%;
}
.head-icon {
  width: 20px;
}
.head-icon img {
  width: 100%;
}
/* 헤더 아래 */
